---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
 I'm Nikhil, I'am currently working as a L1 support but has a keen interest on programming and things alike. These days,
 I'm learning various technologies and working on several projects.
Other than that, I like to draw, play story-based games.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="BCA"
      subtitle="(2019 to 2022) at The national college basavanagudi, Bengaluru"
    />
    <TimeLineElement
      title="Pre-university(PCME)"
      subtitle="(2017 to 2019) at The vijaya college, Bengaluru"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="L1 - support(BESCOM)"
      subtitle="March 2023 to till date, KR circle, Bengaluru"
    >
    Experienced IT professional with expertise in diagnosing and resolving servers and router related connection and networking issues and configuration. Proficient in managing cross-departmental ticket workflows and preparing detailed reports. Demonstrates strong troubleshooting skills, ensuring seamless operational functionality for end-users
    </TimeLineElement>
    
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-4">
    <li>
      <a href="#" target="_blank"> Linux essential certification in Cisco Netacademy</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Linux</li>
    <li>Javascript</li>
    <li>Typescript</li>
    <li>Python</li>
    <li>java</li>
    <li>SQL</li>
    <li>Mongo DB</li>
    <li>c#</li>
    <li>.NET</li>
    <li>networking</li>
    <li>React</li>
    <li>Astro</li>
    <li>Node</li>
    <li>Express</li>
    <li>Tailwind CSS</li>
  </ul>
</BaseLayout>
